# Virtual environments
env/
env_cpu/
venv/
.env

# Build and Dist
build/
dist/
*.spec
*.deb
*.rpm
*.pkg.tar.zst
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
CONTEXTO

# IDEs and Tools
.vscode/
*.code-workspace

# App output and specific ignores
output/
archivos/
Archivos_Extra/
*.bak
*.log
.*.swp
.~lock.*
